[Unit]
Description=Partner 1 Site Nginx Container
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
KillMode=none
User=core
WorkingDirectory=/home/core
EnvironmentFile=/etc/environment
Restart=always
RestartSec=10s
StartLimitInterval=10
ExecStartPre=-/usr/bin/docker kill PARTNER_1_NGINX
ExecStartPre=-/usr/bin/docker rm PARTNER_1_NGINX
ExecStartPre=-/usr/bin/docker pull jmuraski/partner1-content
ExecStart=/usr/bin/docker run  --rm -p 48080:80 --name PARTNER_1_NGINX jmuraski/partner1-content
ExecStop=-/usr/bin/docker stop PARTNER_1_NGINX

[X-Fleet]
Conflicts=partner1Site@*.service
MachineMetadata=role=worker
