[Unit]
Description=Register API Gateway

# Requirements
Requires=etcd.service
Requires=apiGateway@%i.service

# Dependency ordering and binding
After=etcd.service
After=apiGateway@%i.service
BindsTo=apiGateway@%i.service

[Service]
TimeoutStartSec=0
KillMode=none
User=core
WorkingDirectory=/home/core
EnvironmentFile=/etc/environment
Restart=always
RestartSec=10s
StartLimitInterval=10

ExecStartPre=-/usr/bin/docker kill REGISTER_API_GATEWAY
ExecStartPre=-/usr/bin/docker rm REGISTER_API_GATEWAY
ExecStartPre=-/usr/bin/docker pull jmuraski/etcd_service_register
ExecStart=/usr/bin/docker run --rm --name REGISTER_API_GATEWAY -e KEY_ROOT=endpoints -e KEY_PATH=api \
  -e INSTANCE_NAME=api_gateway -e INSTANCE_NUMBER=%i -e INSTANCE_IP=${COREOS_PRIVATE_IPV4} \
  -e INSTANCE_PORT=3000 -e 'EXTRA_ARGS=maxconn 32' -e 'REWRITE_URL=/api' jmuraski/etcd_service_register
ExecStop=-/usr/bin/etcdctl rm /endpoints/api/api%i
ExecStop=-/usr/bin/docker stop REGISTER_API_GATEWAY

[X-Fleet]
MachineOf=apiGateway@%i.service
